body {
    background-color: #04283b;
    overflow-y: hidden;
}
#logo{
    top: 0;
}
.content{
    height: 800px;
    width: 100%;
}
.loginbox{
    background: white;
    width: 600px;
    height: 400px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.balk{
    background: #db2727;
    width: 600px;
    height: 50px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.loginbox-inhoud{
    
}
.loginbox-inhoud p{
    font-family: sans-serif;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
.loginbox-inhoud form{
}
.loginbox-inhoud form input{
    padding: 10px;
    border-radius: 2px;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 300px;
}
.balk h1{
    font-family:sans-serif;
    font-size: bold;
    line-height: 50px;
    padding-left: 15px;
    color:  white;
    font-size: 29px;
    
}




/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: sans-serif
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
